.ant-layout-header {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.loginForm {
  padding: 5% ;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  width: 35%;
}
